
/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* common style  */

body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    /* width: 1440px; */
    padding: 100px;
}
/* Influences Part */
.influencer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-title {
    font-size: 24px;
}
.influence {
    /* display: flex; */
    align-items: center;
}
.influence img{
   width: 440px;
   height: 414px;
}
.influence h1{
   font-size: 52px;
}
.influence p{
   font-size: 16px;
}
.link-button{
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 40px;
    border-radius: 41px;
    color: #FFFFFF;
}

/* Collection Style  */
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:30px ;
    grid-row-gap: 30px;
}
.Collection-tiltle{
    text-align: center;
    font-size: 28px;
}
.collection .collection-banner img{
   width: 300px;
   height: 256px;
}
.filled{
    color: #FB8200;
    font-size: 12px;
}
.see-more-button{
    text-decoration: none;
    text-align: right;
    color: #E02C6D;
}